<!DOCTYPE html>
<html>
  <head>
    <title>Grow Comunity</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p style="<%= 'display:none;' if notice.nil? && alert.nil? %>"><%= notice %> <%= alert %></p>
  
  <!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout">
<%= render 'partials/navbar' %>
  <main class="mdl-layout__content">
    <div class="page-content"><%= yield %></div>
  </main>
</div>


    

    
 
   
  </body>
</html>
